body {
    margin: 0;
    font-family: "M PLUS 1p", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdf5e6; /* 好きな背景色 */
}

.result-container {
    position: relative;
    text-align: center;
}

.result-image {
    width: 80vw;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.result-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    pointer-events: none;
}

.return-button {
    display: inline-block;
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-color: #e2d096;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.return-button:hover {
    transform: scale(1.05);
    background-color: #edc979df;
}
